/**** Design information ****
  Colors are based on the Dracula theme, https://draculatheme.com/
  Colors
    default text: #f8f8f2
    background: #282a36
    operator text: #50fa7b
    warning: #ff5555
    caution: #f1fa8c
    display/ screen background: #bcc2cd
    calculator body: #44475a


*/


.body {
  background-color: #282a36;
  font-family: 'Inconsolata', monospace;
}

.title {
  text-align: center;
  color: #f8f8f2;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer__text {
  color: #f8f8f2;
  text-align: center;
}

.footer_text__link {
  color: #f8f8f2;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.calc-body {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 635px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #44475a;
  border-style: solid;
  
}

.statement {
  box-sizing: border-box;
  height: 35px;
  width: 385px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: #bcc2cd; /*#dedede;*/
  text-align: right;
  font-size: 24px;
}

.result {
  box-sizing: border-box;
  height: 90px;
  width: 385px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color: #bcc2cd; /*#dedede;*/
  text-align: right;
  font-size: 36px;
}

.buttons {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-backspace {
  font-size: 24px;
}

.fa-square-root-alt {
  font-size: 20px;
}
.btn {
  box-sizing: border-box;
  height: 75px;
  width: 94px;
  margin: 2px;
  background-color: #282a36;
  color: #f8f8f2;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color: #44475a;
}

.btn--operator {
  color: #50fa7b;
}

.btn--equals {
  background: linear-gradient(135deg,#80ffea,#8aff80);
  color: #0000EE
}

.btn--warning {
  color: #ff5555;
}

.btn--focus {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282a36;
  border-style: none;
  box-shadow: none;
}

.btn--focus:active,
.btn--focus:focus,
.btn--focus:focus-within,
.btn--focus:target,
.btn--focus:hover,
.btn--focus:focus-within {
  border-style: none;  
  background-color: #282a36;
  box-shadow: none;
}

.break {
  width: 100%;
}

/**** Modal ****/
.modal { /*included in the media querry*/
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  height: 135px;
  width: 400px;
  background-color: #bcc2cd;
  border-color: #ff5555;
  border-style: solid;
  color: #ff5555;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
}

.modal__text {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.modal__exit {
  position: absolute;
  margin: 0;
  top: -5px;
  right: 5px;
}

.modal__exit:hover {
  cursor: pointer;
}

@media (max-width: 544px) {
  .title {
    font-size: 28px;
  }

  .footer__text {
    font-size: 12px;
  }

  .calc-body {
    height: 450px;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .statement {
    width: 275px;
  }

  .result {
    height: 60px;
    width: 275px;
    padding-top: 10px;
  }

  .buttons {
    width: 290px;
  }

  .btn {
    height: 50px;
    width: 66px;
  }

  .modal {
    width: 280px;
    height: 96px;
    top: 6px;
    left: 7px;
    font-size: 24px;
  }
}



/**** Toast ****/
/* from https://www.w3schools.com/howto/howto_js_snackbar.asp */
.toast {
  position: fixed; /* Sit on top of the screen */
  bottom: 40px; /* 30px from the bottom */
  width: 250px; 
  
  padding: 16px; /* Padding */
  margin: auto;
  z-index: 1; /* Add a z-index if needed */
  display: none; /* Hidden by default.*/
  justify-content: center;
 
  background-color: #44475a; 
  border-radius: 9999px; /* Rounded borders */
  color: #f8f8f2; 
  font-family: sans-serif;
  text-align: center; /* Centered text */
}

.toast--warning {
  color: #ff5555;
}

.toast--caution {
  color: #f1fa8c;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast--show {
  display: flex; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
