.body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.calc-body {
  box-sizing: border-box;
  height: 625px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-style: solid;
  
}

.statement {
  box-sizing: border-box;
  height: 35px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  grid-area: parrot;
  background-color: #dedede;
  text-align: right;
  font-size: 24px;
}

.result {
  box-sizing: border-box;
  height: 100px;
  width: 400px;
  
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  grid-area: result;
  background-color: #dedede;
  text-align: right;
  font-size: 36px;
}

.buttons {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  box-sizing: border-box;
  height: 75px;
  width: 94px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}

