.body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.calc-body {
  box-sizing: border-box;
  position: relative;
  height: 625px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-style: solid;
  
}

.statement {
  box-sizing: border-box;
  height: 35px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: #dedede;
  text-align: right;
  font-size: 24px;
}

.result {
  box-sizing: border-box;
  height: 100px;
  width: 400px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  background-color: #dedede;
  text-align: right;
  font-size: 36px;
}

.buttons {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  box-sizing: border-box;
  height: 75px;
  width: 94px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  height: 135px;
  width: 400px;
  background-color: white;
  border-color: red;
  border-style: solid;
  color: red;
  text-align: center;
  font-size: 36px;
}

.modal__text {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.modal__exit {
  position: absolute;
  margin: 0;
  top: -5px;
  right: 5px;
}

.modal__exit:hover {
  cursor: pointer;
}

